@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "Rouge Script", cursive;
  
}

h3{ 
font-style: italic;
  font-size: 40px;
  font-family: Courier New;
  font-weight: 60;
  }



